/* ==== GLOBAL ====*/

*, *::before, *::after {
  box-sizing: border-box;
  transition: .4s;
}

html {
  font-family: Dosis, sans-serif;
  font-size: 10px;
}

body {
  font-family: Helvetica, sans-serif;
 padding: 0;
 margin:0;

 background-image: url(https://images.unsplash.com/photo-1619526881542-c81baff85fa4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cmVzdGF1cmFudCUyMGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-size: 100% 100%;


 font-size: 12px;


}

:root {
  --menuItemsBorder: 1px solid hsl(1, 0%, 25%);
  --accentColor: gold;
  --sideSpacing: 3rem;
}


/*==== NAVIGATION ====*/

/* Nav bar */

.nav {
  background: #161616;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 0 0 0 var(--sideSpacing);
  display: flex;
  justify-content: space-between;
  align-items: center;

}


/* Logo */

.nav__logo {
  cursor: pointer;
  color: white;
  border-radius: .5rem;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 0 0 .3rem 0;
}

.nav__logo::first-letter {
  color: var(--accentColor);
}


/* Items container */

.nav__menu {
  display: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__menu__item {
  margin: 0;
}


/* Items */
.nav__menu__item__a {
  display: block;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 3rem 1.5rem;
  position: relative;
  z-index: 1;
}

.nav__menu__item:last-child .nav__menu__item__a {
  padding-right: var(--sideSpacing);

}

.nav__menu__item__a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background: var(--accentColor);
  z-index: -1;
}

.nav__menu__item__a:hover {
  color: black;
}

.nav__menu__item__a:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gold;
}

.nav__menu__item__a:active  {
  color: gold;
}

.nav__burger {
  display: none;
}


/* ==== MOBILE DEVICES ==== */

@media screen and (max-width: 1170px) {

/* Nav bar */

  .nav {
    padding: 2rem 3rem;
  }


/* Logo */
  .nav__logo {
    font-size: 3.8rem;
  }


/*Burger */

  .nav__burger {
    outline: none;
    font-size: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 4rem;
    height: 2.7rem;
    background: none;
    border: none;
    z-index: 1;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .nav__burger__line {
    height: 3px;
    background: white;
  }

  .nav__burger:focus .nav__burger__line--one {
    transform: rotate(90deg) translateX(.6em) translateY(.12em);
    background-color: var(--accentColor);
    height: 4px;
  }

  .nav__burger:focus .nav__burger__line--two {
    transform: rotate(45deg) translateY(1.2em) translateX(-.27em) scale(.7);
    height: 5px;
    background-color: var(--accentColor);
  }

  .nav__burger:focus .nav__burger__line--three {
    transform: rotate(-45deg) translateY(.2em) translateX(1em) scale(.7);
    height: 5px;
    background-color: var(--accentColor);
  }

  .nav__burger:hover .nav__burger__line {
    background-color: var(--accentColor);
  }

  .nav__burger:focus {
    transform: translateY(.5rem);
  }

  .nav__burger:focus ~ .nav__menu {
    height: 60vh;
    transition: .5s;
  }


  /* Menu items */

  .nav__menu {
    position: absolute;
    display: block;
    top: 8.1rem;
    right: 0;
    left: 0;
    height: 0px;
    transition: .5s;
    overflow: hidden;
  }

  .nav__menu__item:first-child {
    border-top: var(--menuItemsBorder);
  }

  .nav__menu__item {
    border-bottom: var(--menuItemsBorder);
    text-align: right;
    background: hsl(1, 0%, 8%);
  }

  .nav__menu__item__a {
    display: block;
    font-size: 3vh;
    padding: 2vh 3rem 2vh 0;
    width: 100vw;
  }

  .nav__menu__item__a::after {
    padding: 0;
    content: none;
  }
}

/* === SMALL MOBILE DEVICES === */

@media screen and (max-width: 400px) {

  /* Nav bar */
  .nav {
    min-width: 260px;
  }

  /* Logo */
  .nav__logo {
    font-size: 3rem;
    padding: 0;
    margin: -2px 0 0 0;
  }


  /* Burger Icon */

  .nav__burger {
    transform: scale(.74);
  }

 .nav__burger:focus {
    transform: scale(.74) translateY(.5rem);
  }

  .nav__burger__line {
    height: .26rem;
  }

  .nav__burger:focus .nav__burger__line--one,
  .nav__burger:focus .nav__burger__line--two,
  .nav__burger:focus .nav__burger__line--three {
    height: .3em;
  }


  /* Menu items */

  .nav__menu {
    top: 6.8rem;
  }
  .nav__menu__item__a {
    font-size: 2vh;
    padding: 1.5vh 3rem 1.5vh 0;
  }

}








#Form{
  position: relative;
  margin-top: 15%;
height: 100vh;

}
#form{
	height: 100%;
	overflow: hidden;
	position: relative;

}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
color: white;
	position: relative;


}
label, input, textarea{
	display: block;
}
input, textarea{
	width: 500px;
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

}
input:focus, textarea:focus{
	border: solid 3px #77bde0;
}

textarea{
	height: 100px;
	resize: none;
	overflow: auto;
}
input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;

}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
}

.Form-heading{
  color: white;
  text-align:center;
  font-size: 3rem;

}



#about{
  background: #322514;
  color: white;
  height: 25vh
}
.timming{
  text-align: center;
  display: inline-block;
  margin-left: 10%;
}
.location{
  display: inline-block;
  margin-left: 40%;
}
.Copyright{
  text-align: center;
  font-size: 1.5em;
}
